#
# IMU Example Application Configuration
#

config EXAMPLES_IMU
    bool "IMU Example"
    default n
    ---help---
        IMU example application.

if EXAMPLES_IMU

config EXAMPLES_IMU_PROGNAME
    string "IMU program name"
    default "imu"
    help
        This is the name of the NSH command or ELF binary that will be installed and used to run the IMU reader.

config EXAMPLES_IMU_PRIORITY
	int "IMU task priority"
	default 100
	---help---
		Priority of the IMU measurement task if run as a background thread.

config EXAMPLES_IMU_STACKSIZE
	int "IMU stack size"
	default DEFAULT_TASK_STACKSIZE
	---help---
		Stack size for the IMU measurement task.

menu "IMU Configuration"

config EXAMPLES_IMU_I2C_FD
    string "I2C device file"
    default "/dev/i2c0"
    help
      Path to the I2C device used to communicate with the IMU.

endmenu

endif


